.container.px-5.px-sm-0.py-3
  .row
    = render 'books/list', book: @book, user: current_user
    .col-md-8.offset-md-1
      h2
        | Groups
      table.table
        tr
          th
          th
            | グループ名
          th
            | 紹介文
          th
        - @groups.each do |group|
          tr
            td
              = attachment_image_tag(group, :image, :fill, 50, 50, fallback: "no_image.jpg")
            td
              = link_to group.name, group_path(group)
            td
              = group.introduction
            td
              - if group.owner_id == current_user.id
                = link_to 'Edit', edit_group_path(group), class: "btn btn-sm btn-success"
