.container
  .row
    .mx-auto.my-3
      h3.margin_top.text-center
        | 送信が完了しました
      .margin_top
        | 内容は以下の通りです。
      .small_margin_top
        |  [タイトル]
        p.font-weight-bold
          = @title
      div
        |  [本文]
        p.font-weight-bold
          = safe_join(@content.split("\n"),tag(:br))
