.container
  .row
    .col-sm-12.col-md-8.col-lg-5.px-5.px-sm-0.mx-auto
      .form-body.p-4
        h2
          | Editing Book
        .error
          - if @book.errors.any?
            = @book.errors.count
            |  errors prohibited this obj from being saved: 
            - @book.errors.full_messages.each do |message|
              ul
                li
                  = message
        = form_with model: @book, local: true do |f|
          h4
            | Title
          = f.text_field :title, class: "form-control"
          h4
            | Opinion
          = f.text_area :body, class: "form-control", rows: "3"
          |  <div id="rate_
          = @book.id
          | ">
      script
        |  $('#rate_<ruby code="= @book.id"></ruby>').raty({ size: 20, starOff: '<ruby code="= asset_path('star-off.png')"></ruby>', starOn : '<ruby code="= asset_path('star-on.png')"></ruby>', starHalf: '<ruby code="= asset_path('star-half.png')"></ruby>', half: true, readOnly: true, score: <ruby code="= @book.rate"></ruby>, }); 
      = f.submit 'Update Book', class:"btn btn-sm btn-success my-3"
      = link_to "Show", book_path(@book)
      span
        | |
      = link_to "Back", books_path
