<div class="container about-page text-center">
  <div class="row">
    <h1 class="px-3 mx-auto mt-4">
      Welcome to <i class="fas fa-book"></i><strong>Bookers</strong>!
    </h1>
    <div class="about-text mx-auto my-5">
      <p>
        自分のお気に入りの本をみんなと共有出来るSNSです。</br>
        ユーザーは、読んだ本を5段階評価でコメントと共に記録していくことが可能で、</br>
        またそれら投稿の記録をグラフで表示することで、自分の読書のペースを把握することができます。</br>
        他の人の投稿にいいねやコメントもでき、世界中の本好きの方とコミュニケーションを取ることができます。</br>
        さらにサイト内では、ユーザー名や本のタイトルで検索する事ができ、</br>
        自分の趣味とぴったしな方を見つけるお手伝いをし、</br>
        またその方たちとDMやグループで連絡をすることも可能です。</br>
      </p>
    </div>
  </div>
</div>