// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-page {
  min-height: 100vh;
}

.top-page p {
  text-align: center;
  line-height: 1.8rem;
}

.about-page {
  min-height: 100vh;
}

.about-text {
  line-height: 2rem;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", seri
}

.about-page h1 {
  font-family: 'Slabo', serif;
}

.top-page h1 {
  font-family: 'Slabo', serif;
}
